




/* instructor solution */

html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
    grid-template-rows: 4.5rem auto 4.5rem;
    grid-template-areas: "hd hd"
                         "side main"
                         "ft ft";
}

header {
    background: blue;
    color: white;
    /* grid-column-start: col-1-start;
    grid-column-end: col-2-end; */
    grid-area: hd;
}

main {
    background: red;
    color: white;
    /* grid-column-start: col-2-start;
    grid-column-end: span 1; */
    grid-area: main;
}

aside {
    background: green;
    color: white;
    /* grid-column-start: col-1-start;
    grid-row-start: 2;
    grid-row-end: 3; */
    grid-area: side;
}

footer {
    background: purple;
    color: white;
    /* grid-column-start: col-1-start;
    grid-column-end: col-2-end; */
    grid-area: ft;
}



/* my solution

.container {
    margin: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 75% 1fr;
}

.header {
    background: rgba(255, 154, 72, 0.5);
    grid-column-start: span 4;
    
}

.sidebar {
    background: rgba(255, 0, 0, 0.5);
   grid-row-start: 2;
   grid-column-start: span 1;
}

.main-content {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 2;
    
}

.footer {
    background: rgba(0, 4, 255, 0.5);
    grid-column-start: span 4;
} */